---
import Layout from "../../layouts/Layout.astro";
import AppBar from "../../components/AppBar.astro";
import UserProfile from "../../components/users/UserProfile.svelte";

const id = Astro.params.id;
---

<Layout>
  <AppBar />
  <main class="mx-auto max-w-3xl px-4 py-8">
    <UserProfile userId={id} client:load />
  </main>
</Layout>
